<footer>
	<div class="m-footer">
		<div class="m-footer__subscribe">
			<div class="m-footer__title">subscribe</div>
			<div class="m-footer__text">Stay updated on news</div>
			<div class="m-footer__input-box">
				<form action="#">
					<input class="m-footer__input" type="email" placeholder="your email address" />
				</form>
			</div>
		</div>
		<div class="m-footer__main">
			<div class="b-logo"><img src="img/logo.svg" alt="logo" /></div>
			<nav>
				<ul class="b-nav">
					<li class="b-nav__item">home</li>
					<li class="b-nav__item">catalog</li>
					<li class="b-nav__item">news</li>
					<li class="b-nav__item">sale</li>
					<li class="b-nav__item">about</li>
					<li class="b-nav__item">contact</li>
				</ul>
			</nav>
			<div class="m-footer__reserved">
				&copy;2010 - 2016 All rights reserved
			</div>
		</div>
	</div>
</footer>