<header>
	<div class="m-header">
		<div class="m-header__top-menu">
			<div class="b-help-menu">delivery</div>
			<div class="b-help-menu">faq</div>
			<div class="b-help-menu">help</div>
		</div>
		<div class="m-header__top-selection">
			<div class="b-top-select">
				<div class="b-top-select__main">dollars</div>
			</div>
			<div class="b-top-select">
				<div class="b-top-select__main">en</div>
			</div>
		</div>
		<div class="m-header__main">
			<div class="b-logo"><img src="img/logo.svg" alt="logo" /></div>
			<nav>
				<ul class="b-nav">
					<li class="b-nav__item">home</li>
					<li class="b-nav__item l-active">catalog</li>
					<li class="b-nav__item">news</li>
					<li class="b-nav__item b-nav__item__red">sale</li>
					<li class="b-nav__item">about</li>
					<li class="b-nav__item">contact</li>
				</ul>
			</nav>
			<div class="b-header-bag">
				<div class="b-header-bag__text">your bag</div>
				<div class="b-header-bag__round">2</div>
				<div class="b-header-bag__search"></div>
			</div>
		</div>
	</div>
</header>